* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0 none;
  font-family: Arial, Helvetica, sans-serif;
}

.topspacing {
  margin: 7% auto 1%;
  h5 {
    color: #3f51b5;
    padding-bottom: 10px;
  }
  h4 {
    width: 100%;
    line-height: 1.5em;
    padding: 15px 0;
    font-size: 18px;
    color: #9a338e;
  }
  div {
    margin-bottom: 20px;
  }
  .form-group {
    &.date {
      font-size: 16px;
      color: #495057;
      label {
        top: -25px;
        position: relative;
        font-size: 16px;
        color: #495057;
      }
      input {
        top: -34px;
        position: relative;
        font-size: 16px;
        color: #495057;
      }
    }
    .form-check {
      input {
        margin-left: 0px;
      }
      label {
        margin-bottom: 0;
        padding-right: 50px;
        padding-left: 20px;
      }
    }
    select {
      padding: 8px;
    }
  }
  .tiles {
    width: 20%;
    // height: 150px;
    // background-position: center;
    // background-size: cover;
    // display: block;
    // background-color: #4da6ff;
    background-color: #006fcf;
    padding: 15px;
    border-radius: 15px;
    // display: flex;
    // text-align: center;
    // align-items: center;
    // justify-content: center;
    margin: 2.5%;
    // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    font-size: 17px;
    line-height: 1.5em;
    cursor: pointer;
    border-width: 0;
    color: #fff;
    i{
      display: block;
      font-size: 25px;
    }
    &:hover,
    &:focus {
      color: #fff;
      background-color: #3f51b5;
    }
  }
  .profileWrap {
    width: 45%;
    float: left;
    margin: 2.5%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 10px;
    h6 {
      min-height: 65px;
      font-weight: normal;
    }
    p {
      font-size: 14px;
      line-height: 1.5em;
      &.specialization {
        min-height: 79px;
      }
    }
    .description {
      min-height: 225px;
    }
  }
  .svgIconWrap {
    position: fixed;
    top: 90%;
    right: 1%;
    a {
      &:hover {
        background: #1e56fd;
        color: #fff;
      }
    }
  }
  .form-control {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    &.searchInput {
      // float: right;
      width: 30%;
    }
    &:focus {
      box-shadow: none;
      border-bottom-color: #3f51b5;
    }
  }
  .checkboxgroup {
    ul {
      width: 100%;
      li {
        list-style: none;
        width: 25%;
        float: left;
        padding-bottom: 10px;
        label {
          padding-right: 5%;
          min-width: 270px;
        }
        input {
          float: left;
          margin-top: 6px;
          margin-right: 15px;
        }
      }
    }
  }
  .ReactTable {
    border: 0;
    font-size: 15px;
    line-height: 1.5em;
    text-align: center;
    div {
      margin-bottom: 0;
    }
    .rt-thead .rt-th {
      padding: 15px;
      // background-color: #4caf50;
      background-color: #006fcf;
      color: #fff;
      text-align: center;
      font-weight: 500;
      font-size: 18px;
    }

    .rt-tbody {
      .rt-tr {
        font-size: 15px;
        position: relative;
        .rt-td {
          padding: 5px 10px;
          .icons{
            background-color: transparent;
            outline: none;
            border: 0;
            cursor: pointer;
            img{
              width: 90%;
            }
            &.addIcon{
              position: absolute;
              left: 0;
              top: 10%;
              img{
                width: 50%;
              }
            }
          }
        }
        &.-even {
          background-color: #f2f2f2;
        }
      }
    }

    .btn-block {
      display: inline-block;
      width: auto;
      margin-right: 10px;
      font-size: 14px;
      line-height: 1.5em;
      padding: 5px;
      opacity: 0.6;
      &.active,
      &:focus,
      &:hover {
        opacity: 1;
        border-color: transparent;
        box-shadow: none;
      }
      &.btn-stop {
        background-color: #db4437;
        // border-color: #db4437;
      }
      &.btn-add {
        background-color: #9896a4;
        // border-color: #9896a4;
      }
    }
    .pagination-bottom {
      .-next {
        .-btn {
          float: right;
        }
      }
      .-btn {
        width: 150px;
        background-color: #4caf50;
        color: #fff;
        &.-btn[disabled] {
          opacity: 0.7;
        }
        &:hover,
        &:focus,
        &:not([disabled]):hover {
          background-color: #46a049;
        }
      }
    }
    .btn-block {
      background-color: #218838;
      border-color: transparent;
    }
  }
  .btn-block {
    background-color: #3f51b5;
    border-color: #3f51b5;
  }
  p {
    margin-bottom: 0;
  }
  &.appointmentWrap {
    label {
      display: block;
    }
  }
  .timeline-resource {
    &.e-schedule {
      .e-read-only {
        opacity: 0.8;
      }
      .template-wrap {
        display: flex;
        height: 100%;
        text-align: left;

        > div {
          border-right: 1px solid rgba(0, 0, 0, 0.12);
          flex: 0 0 33.3%;
          font-weight: 500;
          line-height: 58px;
          overflow: hidden;
          padding-left: 5px;
          text-overflow: ellipsis;
          &:last-child {
            border-right: 0;
          }
        }
      }
      .e-timeline-month-view,
      .e-timeline-view {
        .e-resource-cells {
          padding-left: 0;
        }
      }
      .e-timeline-view {
        .e-date-header-wrap table col,
        .e-content-wrap table col {
          width: 100px;
        }
        .e-resource-left-td {
          vertical-align: bottom;
          .e-resource-text {
            display: flex;
            font-weight: 500;
            padding: 0;
            > div {
              border-right: 1px solid rgba(0, 0, 0, 0.12);
              border-top: 1px solid rgba(0, 0, 0, 0.12);
              flex: 0 0 33.3%;
              font-weight: 500;
              height: 36px;
              line-height: 34px;
              padding-left: 5px;
              &:last-child {
                border-right: 0;
              }
            }
          }
        }
      }
      &.e-device {
        .e-timeline-view {
          .e-resource-left-td {
            width: 75px;
          }
        }
      }
    }
  }
  .buttonWrap {
    margin-bottom: 0;
    input.btn {
      display: inline-block;
      width: auto;
      // color: #272b41;
      color: #333;
      font-weight: 550;
      background-color: transparent;
      border-color: transparent;
    }
  }
  .fixedButton{
    position: fixed;
    right: 0;
    bottom: 0;
  }
}

//   @media (max-width: 550px) {
//     .timeline-resource.e-schedule .e-timeline-view .e-resource-left-td {
//         width: 100px;
//     }
//     .timeline-resource.e-schedule .e-timeline-view .e-resource-left-td .e-resource-text>div,
//     .timeline-resource.e-schedule .template-wrap>div {
//         flex: 0 0 100%;
//     }
//     .timeline-resource.e-schedule .template-wrap>div:first-child {
//         border-right: 0;
//     }
//     .timeline-resource.e-schedule .e-timeline-view .e-resource-left-td .e-resource-text>div:first-child {
//         border-right: 0;
//     }
//     .timeline-resource.e-schedule .room-type,
//     .timeline-resource.e-schedule .room-capacity {
//         display: none;
//     }
//   }
// }

.headerWrap {
  border-bottom: 1px solid #d6d6d6;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  .imgWrap {
    img {
      width: 50%;
    }
  }
  h3 {
    margin-top: 20px;
    color: #3f51b5;
    font-weight: 600;
  }
  .form-control {
    border: 1px solid #b4b4be;
    border-radius: 2px;
    margin-top: 8px;
    &:focus {
      border-color: #3f51b5;
      box-shadow: none;
    }
  }
  .userNavWrap {
    .navbar-light {
      justify-content: flex-end;
      padding: 0;
      .dropdown-toggle {
        img {
          width: 50%;
        }
        &:after {
          display: none;
        }
      }
      .dropdown-menu {
        top: 78%;
        padding: 0;
        left: -44%;
        .dropdown-item {
          &.active{
            // background-color: #3f51b5;
            // color: #fff;
          }
        }
      }
    }
  }
}
.footerWrap {
  width: 100%;
  float: left;
  padding: 10px;
  background-color: #f4f4f4;
  //   position: fixed;
  bottom: 0;
  right: 0;
  img {
    width: 20%;
    float: right;
  }
}

/* To fix this: https://github.com/twbs/bootstrap/issues/10152 */
[class*="col-"] + .col-xs-12,
[class*="col-"] + .col-sm-12,
[class*="col-"] + .col-md-12,
[class*="col-"] + .col-lg-12 {
  float: left;
  width: 100%;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
}
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
@media only screen and (max-width: 1023px) {
  .topspacing {
    margin-top: 12%;
    .ReactTable{
      .rt-tbody{
        .icons{
          &.addIcon{
            left: -13px;
          }
        }
      }
    }
  }
  .headerWrap .imgWrap img{
    width: 85%;
  }
}
@media only screen and (max-width: 767px) {
  .headerWrap {
    padding: 2px;
    .imgWrap img {
      width: 200%;
    }
    .form-control {
      margin-top: 24px;
      font-size: 14px;
      outline: none;
      box-shadow: none;
      border: 0;
      border-bottom: 1px solid #b4b4be;
    }
    h3 {
      margin-top: 15px;
      font-size: 24px;
    }
  }
  .topspacing {
    .svgIconWrap {
      top: 92%;
    }
    margin-top: 25%;
    div {
      margin-bottom: 15px;
    }
    .tiles {
      width: 46%;
      margin: 2%;
      font-size: 15px;
      font-weight: 400;
    }
    .profileWrap {
      width: 100%;
      margin: 0;
      h6,
      .description,
      p.specialization {
        min-height: 0;
        padding-bottom: 10px;
      }
    }
    .ReactTable {
      .pagination-bottom {
        .-center {
          flex: none;
          display: block;
        }
        .-btn {
          height: auto;
          width: 100px;
          margin: 0 auto;
          float: none !important;
        }
      }
    }
    .form-group {
      &.date {
        label,
        input {
          top: 0;
        }
      }
      .MuiInputBase-fullWidth {
        width: 75%;
        .MuiInputBase-input {
          height: 0.1875em;
        }
      }

      .MuiInputLabel-formControl {
        top: -6px;
      }
      .form-check {
        label {
          padding-right: 0;
        }
      }
    }
    .checkboxgroup {
      ul {
        li {
          font-size: 15px;
          width: 50%;
        }
      }
    }
  }
}

/* custom code start*/
#EventLog {
  b {
    color: #388e3c;
  }
}

hr {
  margin: 1px 10px 1px 0px;
  border-top: 1px solid #eee;
}
/* custom code end*/

.e-schedule {
  .e-schedule-toolbar {
    .e-icon-schedule-pdf {
      &::before {
        content: "\e7c8";
      }
    }
    .e-icon-schedule-print {
      &::before {
        content: "\e973";
      }
    }
  }
}

.custom-field-row {
  margin-bottom: 20px;
}

.multi-prop div {
  padding-left: 0;
  padding-top: 0;
}
