*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0 none;
    font-family: Arial, Helvetica, sans-serif;
}
.topspacing {
    margin: 7% auto 1%;
    h5{
        color: #3f51b5;
        padding-bottom: 20px;
    }
    h4{
        width: 100% ;
        line-height: 1.5em;
        padding: 15px 0;
        font-size: 18px;
    }
    div{
        padding-left: 0;
        margin-bottom: 20px;
    }
.tiles{
    width: 20%;
    height: 150px;
    background-position: center;
    background-size: cover;
    display: block;
    background-color: #a3f84c;
    border-radius: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2.5%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    font-size: 18px;
    line-height: 1.5em;
    
}
.profileWrap{
    width: 45%;
    margin: 2.5%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 10px;
    h6{
        min-height: 38px;
        font-weight: normal;
    }
    
}
.svgIconWrap{
    position: fixed;
    top: 80% ;
    right: 1%;
    a{
        &:hover{
            background: #1E56FD;
            color: #FFF;
        }
    }
}
.form-control{
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
.checkboxgroup{
    label{
        padding-right: 5%;
    min-width: 270px;
        input{
            float: left;
        margin-top: 6px;
        margin-right: 15px;
        }
    }
    
}
}
.headerWrap{
    border-bottom: 1px solid #d6d6d6;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    .imgWrap{
        img{
            width: 35%;
        }
    }
    h3{
        margin-top: 20px;
        color: #3f51b5;
        font-weight: 600;
    }
}
.footerWrap{
    width: 100%;
    float: left;
    padding: 10px;
    background-color: #f4f4f4;
    position: fixed;
    bottom: 0;
    right: 0;
    img{
        width: 20%;
        float: right;
    }
}